            * {
                box-sizing: border-box;
            }
            
            .bg-image {
                background-image: url(images/donation1.jpg);
                background-repeat: no-repeat;
                font-weight: 600;
                color: white;
                width: 1440px;
                height: 400px;
                margin-left: 300px;
            }
            
            .bg-image .bg-text {
                position: relative;
                width: 300px;
                text-align: center;
                margin-left: 200px;
                margin-top: 30px;
            }
            
            .donate {
                width: 500px;
                margin-left: 200px;
                padding: 30px;
                text-align: center;
            }
            
            .donate .taka {
                display: flex;
                justify-content: space-around;
            }